.test {
	color: red;
}


.container {
	padding: 50px;
	background-color: black;
	position: absolute;
	left: 50%;
	top: 50%;
	width: 800px;
	height: 400px;
	margin-left: -400px;
	margin-top: -200px;
}

.table {
	background-color: #005000;
	width: 100%;
	height: 100%;
	border-radius: 50%;

}

.card {
	display: inline-block;
	padding: 2px;
	background-color: white;
	width: 60px;
	height: 80px;
	border-radius: 7%;
	border: 1px black solid;
	opacity: 0;
}

.card img {
	width: 100%;
}
.card-img {
	width: 100%;
}

.show-card {
	opacity: 100;
}
.red-card {
	color: red;
}

.chip-stack {
	background-color: white;
	border-radius: 7%;
}

.player-cards-container {
	position: absolute;
	left: 50%;
	top: 80%;
	margin-left: -66px;
}

#community-cards {
	width: 350px;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -175px;
	margin-top: -42px;
}

#player0-cards {
	left: 50%;
	top: 80%;
	margin-left: -66px;
}

#player1-cards {
	left: 28%;
    top: 77%;
}

#player2-cards {
	left: 11%;
    top: 62%;
}

#player3-cards {
	left: 11%;
    top: 25%;
}


#player4-cards {
	left: 28%;
    top: 7%;
}